<div class="container">
  <h1>Crear nueva clasificación alarma</h1>
  <form #nuevaClasificacionAlarmaForm="ngForm">

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control"
             required maxlength="200" [(ngModel)]="clasificacion_alarma.nombre" #nombre="ngModel">
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert">
        <div *ngIf="nombre.errors?.required">
          El nombre es obligatorio
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="codigo">Código</label>
      <input type="text" name="codigo" id="codigo" class="form-control" maxlength="200"
             pattern="[A-Z]+$" [(ngModel)]="clasificacion_alarma.codigo" #codigo="ngModel">
      <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)" class="alert">
        <div *ngIf="codigo.errors">
          Introduzca un código válido
        </div>
      </div>
    </div>

    <button type="submit" class="btn" (click)="nuevaClasificacionAlarma()"
            [disabled]="!nuevaClasificacionAlarmaForm.form.valid">
      Crear
    </button>
    <button type="submit" class="btn" [routerLink]="['/clasificaciones_alarmas']">Volver</button>

  </form>
</div>

