<header class="cabecera">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/inicio">
        <img src="assets/cabecera-logo.png" alt="Logo TLA" width="100" height="71" class="d-inline-block">
        <span class="titulo-cabecera">TLA<span class="nombre-servicio"> - Servicio de teleasistencia</span></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Formularios</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Usuarios del sistema
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/usuarios">Consultar usuarios</a></li>
                <li><a class="dropdown-item" href="/usuarios/nuevo">Crear nuevos usuarios</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAlarmas" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Alarmas
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/tipos_alarmas">Consultar tipos de alarma</a></li>
                <li><a class="dropdown-item" href="/tipos_alarmas/nuevo">Crear nuevo tipo de alarma</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/clasificaciones_alarmas">Consultar clasificaciones de alarma</a>
                </li>
                <li><a class="dropdown-item" href="/clasificaciones_alarmas/nueva">Crear nueva clasificación de
                  alarma</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCentrosSanitarios" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Centros sanitarios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/centros_sanitarios">Consultar centros sanitarios</a></li>
                <li><a class="dropdown-item" href="/centros_sanitarios/nuevo">Crear nuevo centro sanitario</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/tipos_centros_sanitarios">Consultar tipos de centros sanitarios</a>
                </li>
                <li><a class="dropdown-item" href="/tipos_centros_sanitarios/nuevo">Crear nuevo tipo de centro
                  sanitario</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownModalidadPaciente" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Modalidad paciente
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/tipos_modalidades_pacientes">Consultar tipos de modalidades de
                  pacientes</a></li>
                <li><a class="dropdown-item" href="/tipos_modalidades_pacientes/nuevo">Crear nuevo tipo de modalidad de
                  paciente</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRecursosComunitarios" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Recursos comunitarios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/recursos_comunitarios">Consultar recursos comunitarios</a></li>
                <li><a class="dropdown-item" href="/recursos_comunitarios/nuevo">Crear nuevo recurso comunirario</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/tipos_recursos_comunitarios">Consultar tipos de recursos
                  comunitarios</a></li>
                <li><a class="dropdown-item" href="/tipos_recursos_comunitarios/nuevo">Crear nuevo tipo de recurso
                  comunitario</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPersonas" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Personas
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/personas">Consultar personas</a></li>
                <li><a class="dropdown-item" href="/personas/nueva">Crear nueva persona seleccionando dirección</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDirecciones" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Direcciones
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/direcciones">Consultar direcciones</a></li>
                <li><a class="dropdown-item" href="/direcciones/nueva">Crear nueva dirección</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

  <router-outlet></router-outlet>

<!--
<div class="container fixed-bottom">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-8 d-flex align-items-center">
      <a href="/inicio" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img src="../assets/cabecera-logo.png" height="42" width="60"/></a>
      <span
        class="text-muted">&copy; Lucía González Martín - Proyecto Fin de Ciclo Desarrollo de Aplicaciones Web</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted"
                          href="mailto:lgonzalezm59@informatica.iesvalledeljerteplasencia.es?Subject=Proyecto%20de%20teleasistencia"><i
        class="fab fa-google-plus"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="https://github.com/lgonzalezm59" target="_blank"><i
        class="fab fa-github"></i></a></li>
    </ul>
  </footer>
</div>
-->


