<main class="text-center row p-0 m-0 justify-content-center">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/usuarios']">Usuarios</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear usuario</li>
    </ol>
  </nav>
  <h1 class="component-title">Crear nuevo usuario</h1>
  <form #nuevoUserForm="ngForm">

    <div class="form-group mb-3">
      <label for="username" class="form-label">Nombre de usuario</label>
      <input type="text" name="username" id="username" class="form-control"
             required minlength="4" maxlength="20" [(ngModel)]="user.username" #username="ngModel">
      <div *ngIf="username.invalid && (username.dirty || username.touched)"
           class="alert alert-secondary" role="alert">
        <div *ngIf="username.errors?.required">
          El username es obligatorio
        </div>
        <div *ngIf="username.errors?.minlength">
          El username debe tener al menos 4 caracteres
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="contrasenia" class="form-label">Contraseña</label>
      <input type="password" name="contrasenia" id="contrasenia" class="form-control"
             required minlength="8" maxlength="16" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$"
             [(ngModel)]="user.contrasenia" #contrasenia="ngModel">
      <div *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)"
           class="alert alert-secondary" role="alert">
        <div *ngIf="contrasenia.errors?.required; else elseBlock">
          La contraseña es obligatoria
        </div>
        <ng-template #elseBlock>
          La contraseña debe tener al menos un dígito, al menos una minúscula y al menos una mayúscula
        </ng-template>
        <div *ngIf="contrasenia.errors?.minlength">
          La contraseña debe tener entre 8 y 16 caracteres
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control"
             required maxlength="200" pattern="^[\w'\-,.][^0-9_!¡?÷?¿(\)\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$"
             [(ngModel)]="user.nombre"
             #nombre="ngModel">
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-secondary" role="alert">
        <div *ngIf="nombre.errors?.required; else elseBlock">
          El nombre es obligatorio
        </div>
        <ng-template #elseBlock>
          Introduzca un nombre válido
        </ng-template>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" name="apellidos" id="apellidos" class="form-control"
             required maxlength="200" pattern="^[\w'\-,.][^0-9_!¡?÷?¿(\)\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$"
             [(ngModel)]="user.apellidos" #apellidos="ngModel">
      <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="alert alert-secondary"
           role="alert">
        <div *ngIf="apellidos.errors?.required; else elseBlock">
          Los apellidos son obligatorios
        </div>
      </div>
      <ng-template #elseBlock>
        Introduzca unos apellidos válidos
      </ng-template>
    </div>

    <div class="form-group mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" id="email" class="form-control" required
             maxlength="20" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user.email" #email="ngModel">
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="alert alert-secondary" role="alert">
        <div *ngIf="email.errors?.required; else elseBlock">
          El email es obligatorio
        </div>
        <ng-template #elseBlock>
          Introduzca un email válido
        </ng-template>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="groups" class="form-label">Grupo</label>
      <select class="form-control" id="groups"
              [(ngModel)]="user.groups" name="groups"
              #groups="ngModel">
        <option></option>
      </select>
    </div>

    <button type="submit" class="btn btn-outline-success m-1" (click)="nuevoUser()"
            [disabled]="!nuevoUserForm.form.valid">
      Guardar
    </button>
    <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/usuarios']">
      Volver
    </button>

  </form>
</div>
</main>











