<main class="text-center row p-0 m-0 justify-content-center">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/personas']">Personas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Modificar persona {{idPersona}}</li>
    </ol>
  </nav>
  <h1 class="component-title">Modificar datos persona {{idPersona}}</h1>
  <form #modificarPersonaForm="ngForm">

    <div class="form-group mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control"
             required maxlength="200" pattern="^[\w'\-,.][^0-9_!¡?÷?¿(\)\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$"
             [(ngModel)]="persona.nombre"
             #nombre="ngModel">
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-secondary" role="alert">
        <div *ngIf="nombre.errors?.required; else elseBlock">
          El nombre es obligatorio
        </div>
        <ng-template #elseBlock>
          Introduzca un nombre válido
        </ng-template>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" name="apellidos" id="apellidos" class="form-control"
             required maxlength="200" pattern="^[\w'\-,.][^0-9_!¡?÷?¿(\)\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$"
             [(ngModel)]="persona.apellidos" #apellidos="ngModel">
      <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="alert alert-secondary"
           role="alert">
        <div *ngIf="apellidos.errors?.required; else elseBlock">
          Los apellidos son obligatorios
        </div>
        <ng-template #elseBlock>
          Introduzca unos apellidos válidos
        </ng-template>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="dni" class="form-label">Dni</label>
      <input type="text" name="dni" id="dni" class="form-control" required maxlength="9"
             pattern="((([X-Z])|([LM])){1}([-]?)((\d){7})([-]?)([A-Z]{1}))|((\d{8})([-]?)([A-Z]))"
             [(ngModel)]="persona.dni" #dni="ngModel">
      <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-secondary" role="alert">
        <div *ngIf="dni.errors?.required; else elseBlock">
          El dni es obligatorio
        </div>
        <ng-template #elseBlock>
          Introduzca un dni válido
        </ng-template>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento</label>
      <input type="date" name="fecha_nacimiento " id="fecha_nacimiento" class="form-control" required
             max="{{ anno_actual }}-{{ mes_actual }}-{{ dia_actual }}" [(ngModel)]="persona.fecha_nacimiento"
             #fecha_nacimiento="ngModel">
      <div *ngIf="fecha_nacimiento.invalid && (fecha_nacimiento.dirty || fecha_nacimiento.touched)"
           class="alert alert-secondary" role="alert">
        <div *ngIf="fecha_nacimiento.errors?.required">
          La fecha de nacimiento es obligatoria
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="sexo" class="form-label">Sexo</label>
      <select class="form-select" id="sexo" name="sexo" required
              [(ngModel)]="persona.sexo">
        <option class="sexo_option" value="Hombre">Hombre</option>
        <option class="sexo_option" value="Mujer">Mujer</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="telefono_fijo" class="form-label">Teléfono fijo</label>
      <input type="tel" name="telefono_fijo" id="telefono_fijo" class="form-control" maxlength="12"
             pattern="^[9]{1}[ ]*([0-9][ ]*){8}$"
             [(ngModel)]="persona.telefono_fijo" #telefono_fijo="ngModel">
      <div *ngIf="telefono_fijo.invalid && (telefono_fijo.dirty || telefono_fijo.touched)" class="alert alert-secondary"
           role="alert">
        <div *ngIf="telefono_fijo.errors">
          Introduzca un teléfono fijo válido
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="telefono_movil" class="form-label">Teléfono móvil</label>
      <input type="tel" name="telefono_movil" id="telefono_movil" class="form-control" maxlength="12"
             pattern="^[6|7]{1}[ ]*([0-9][ ]*){8}$"
             [(ngModel)]="persona.telefono_movil" #telefono_movil="ngModel">
      <div *ngIf="telefono_movil.invalid && (telefono_movil.dirty || telefono_movil.touched)"
           class="alert alert-secondary" role="alert">
        <div *ngIf="telefono_movil.errors">
          Introduzca un teléfono móvil válido
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="direccion" class="form-label">Dirección</label>
      <select class="form-select" id="direccion" name="direccion" required
              [(ngModel)]="persona.id_direccion">
        <option class="direccion_option"
                *ngFor="let direccion of direcciones; let i = index"
                [value]="direccion.id">{{ persona.id_direccion.id === direccion.id? optionSelected(i):"" }} {{ direccion.direccion }} {{ direccion.localidad }} ({{ direccion.provincia }})
          - {{ direccion.codigo_postal }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-outline-success m-1" (click)="modificarPersona()"
            [disabled]="!modificarPersonaForm.form.valid">
      Guardar
    </button>
    <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/personas']">
      Volver
    </button>

  </form>
</div>
</main>
