<td>{{ tipo_alarma.nombre }}</td>
<td>{{ tipo_alarma.codigo }}</td>
<td>{{ tipo_alarma.es_dispositivo? "Sí": "No" }}</td>
<td>{{ tipo_alarma.id_clasificacion_alarma.nombre }} {{ tipo_alarma.id_clasificacion_alarma.codigo }}</td>
<td>
  <button type="submit" class="btn btn-outline-secondary btn-modify" [routerLink]="['/tipos_alarmas/modificar', tipo_alarma.id]">
    <i class="fa fa-pen"></i>
  </button>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#exampleModal" >
    <i class="fa fa-trash"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Alarma</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Está seguro de que desea elminar esta alarma?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-delete">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

</td>

