<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recursos Comunitarios/Personales</li>
      </ol>
    </nav>
    <h1 class="component-title">Recursos Comunitarios/Personales</h1>
    <div class="row"></div>
    <div class="table-responsive m-2">
      <table class="table table-hover text-center">
        <thead>
        <tr class="table-purple">
          <th scope="col">Nombre Paciente</th>
          <th scope="col">Población</th>
          <th scope="col">Provincia</th>
          <th scope="col">Centro de salud</th>
          <th scope="col">Hospital</th>
          <th scope="col">Comisaria de Policía</th>
          <th scope="col">Cuartel Guardia Civil</th>
          <th scope="col">Bomberos</th>
          <th scope="col">Servicios Sociales</th>
          <th scope="col">Cruz Roja</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let persona of personas  let i =index">
          <td>{{persona.nombre}} {{persona.apellidos}}</td>
          <td>{{persona.id_direccion.localidad}}</td>
          <td>{{persona.id_direccion.provincia}}</td>
        </tr>
        </tbody>
      </table>


    </div>

  </div>
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
      <tr class="table-purple">
        <th scope="col">Nombre</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Tipo de recurso comunitario</th>
        <th scope="col">Dirección</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let recurso of recursos  let i =index">
        <td>{{recurso.nombre}}</td>
        <td>{{recurso.telefono}}</td>
        <td>{{recurso.id_tipos_recurso_comunitario.nombre}}</td>
        <td>{{recurso.id_direccion.direccion}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
<!--
 <main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recursos Comunitarios/Personales</li>
      </ol>
    </nav>
    <h1 class="component-title">Recursos Comunitarios/Personales</h1>
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <div class="table-responsive">
          <table class="table table-hover text-center">
            <thead>
            <tr class="table-purple">
              <th scope="col">Nombre Paciente</th>
              <th scope="col">Población</th>
              <th scope="col">Provincia</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let persona of personas  let i =index">
              <td>{{persona.nombre}} {{persona.apellidos}}</td>
              <td>{{persona.id_direccion.localidad}}</td>
              <td>{{persona.id_direccion.provincia}}</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>

    <div class="col-md-6 col-xs-6">
      <div class="table-responsive">
        <table class="table table-hover text-center">
          <thead>
          <tr class="table-purple">
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Tipo de recurso comunitario</th>
            <th scope="col">Dirección</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let recurso of recursos  let i =index">
            <td>{{recurso.nombre}}</td>
            <td>{{recurso.telefono}}</td>
            <td>{{recurso.id_tipos_recurso_comunitario.nombre}}</td>
            <td>{{recurso.id_direccion.direccion}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    </div>

    </div>
</main>
 -->
