<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recursos Comunitarios/Personales</li>
      </ol>
    </nav>
    <h1 class="component-title">Recursos Comunitarios - Personales</h1>
    <div class="form-group mb-3">
      <input id="campoBusqueda" type="text" class="form-control" placeholder="Búsqueda..." [(ngModel)]="inputBusqueda">
    </div>
    <div class="table-responsive m-2">
      <table id="tableList" class="table table-hover text-center">
        <thead>
        <tr class="table-purple">
          <th (click)="ordenacionTabla(0, 'string')" scope="col">Nombre Paciente <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(1, 'string')" scope="col">Sexo <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(2, 'string')" scope="col">Localidad <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(3, 'string')" scope="col">Dirección <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(4, 'string')" scope="col">Provincia <i class="fas fa-sort"></i></th>
          <ng-container *ngFor="let tipocentro of tipo_centro_sanitario let i=index">
            <th  (click)="ordenacionTabla(i+5, 'string')" scope="col">{{tipocentro.nombre}} <i class="fas fa-sort"></i></th>
          </ng-container>
          <ng-container *ngFor="let tipo of tipo_recurso let i=index">
            <th (click)="ordenacionTabla(i+9, 'string')" scope="col">{{tipo.nombre}}  <i class="fas fa-sort"></i></th>
          </ng-container>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of RCP  | filtroBusqueda: inputBusqueda | paginate: { itemsPerPage: 10, currentPage: numPaginacion }">
            <td>{{persona.Nombre}} {{persona.Apellidos}}</td>
            <td>{{persona.Sexo}}</td>
            <td>{{persona.Localidad}}</td>
            <td>{{persona.Direccion}}</td>
            <td>{{persona.Provincia}}</td>
            <td>{{persona["Centro de salud"]}}</td>
            <td>{{persona["Consultorio local"]}}</td>
            <td>{{persona.Hospital}}</td>
            <td>{{persona["Unidad Móvil"]}}</td>
            <td>{{persona["Policía"]}}</td>
            <td>{{persona["Guardia Civil"]}}</td>
            <td>{{persona.Bomberos}}</td>
            <td>{{persona["Servicios Sociales"]}}</td>
            <td>{{persona["Cruz Roja"]}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        responsive="true"
        (pageChange)="numPaginacion = $event"></pagination-controls>


    </div>

  </div>
</main>

