<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/carousel-imagen1.jpg" class="bd-placeholder-img d-block img-fluid" width="100%"
             height="100%"/>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Tranquilidad.</h1>
            <p>Tanto para quien lo utiliza como para el entorno familiar o personal, al saber que estás conectado y
              atendido por un equipo de profesionales con vocación por las personas.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carousel-imagen2.jpg" class="bd-placeholder-img d-block img-fluid" width="100%"
             height="100%"/>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Seguridad.</h1>
            <p>Saber que siempre, las 24 horas, los 365 días puedes contar con nosotros, permite disfrutar de las cosas
              realmente importantes de la vida.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carousel-imagen3.jpg" class="bd-placeholder-img d-block img-fluid" width="100%"
             height="100%"/>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Respuesta inmediata.</h1>
            <p>A necesidades vitales al movilizar los recursos necesarios gracias a los datos de salud y personales que
              nos has facilitado.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container info">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../../assets/home-calidad.png" title="Calidad de vida" alt="Calidad de vida" class="bd-placeholder-img rounded-circle" width="180" height="180"/>
        <h2>Calidad de vida</h2>
        <p>Nuestro servicio de teleasistencia persigue mantener a las personas vulnerables en su medio corriente de
          vida, evitando así los costes de personal, sociales y económicos que conllevaría este cambio.</p>
      </div>
      <div class="col-lg-4">
        <img src="../../../assets/home-alarma.png" title="Movilización de recursos" alt="Movilización de recursos" class="bd-placeholder-img rounded-circle" width="180" height="180"/>
        <h2>Movilización de recursos</h2>
        <p>Ante posibles situaciones de alerta, desplazamos tanto recursos personales (familiares, vecinos o amigos del
          usuario), como recursos comunitarios (ambulancia, bomberos, policía, servicios sociales, …).</p>
      </div>
      <div class="col-lg-4">
        <img src="../../../assets/home-agenda.png" title="Servicio de agenda" alt="Servicio de agenda" class="bd-placeholder-img rounded-circle" width="180" height="180"/>
        <h2>Servicio de agenda</h2>
        <p>Para recordarle a los usuarios ciertos aspectos (citas médicas, tomas de medicamentos, hacer seguimiento,
          llamadas de compañía, etc.) y, velar así, por la seguridad y cuidado de nuestros clientes.</p>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><em>«TIC-TAPSD. La vida conectada»</em>. <span class="text-muted">El proyecto en el que se basa el cliente web de teleasistencia TLA.</span>
        </h2>
        <p class="lead">TIC-TAPSD es un proyecto colaborativo entre el ciclo formativo de
          <abbr title="Técnico en Atención a Personas en Situación de Dependencia">TAPSD</abbr> del IES <em>“San
            Martín”</em> de Talayuela y el Departamento de Informática del IES <em>“Valle
            del Jerte”</em> de Plasencia.</p>
        <p class="lead">
          El proyecto consiste en el diseño, creación y explotación de una plataforma software
          formada por una aplicación web y una aplicación móvil, que sirva a los alumnos del
          módulo de Teleasistencia para realizar las prácticas necesarias para la capacitación en
          su titulación, además de servir para los alumnos de informática como proyecto para
          desarrollar sus capacidades.
        </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             src="../../../assets/home-logo.png" title="TLA" alt="TLA" width="500"
             height="500"/>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><em>«Teleasistencia»</em>. <span class="text-muted">Entendiendo el concepto principal de este servicio.</span>
        </h2>
        <p class="lead">La teleasistencia domiciliaria es un servicio que permite a las personas
          mayores y/o personas discapacitadas, entre otros colectivos vulnerables, contar con ayuda de personal
          preparado para dar respuesta a sus necesidades durante 24 horas al día, todos los días del año. La
          comunicación entre los usuarios y el personal de los centros de atención a personas dependientes se realiza
          mediante el uso de una línea de teléfono y una infraestructura de comunicaciones e informática especifica.</p>
        <p class="lead">Los teleoperadores del centro de atención cuentan con una serie de recursos humanos y
          materiales, propios del usuario o existentes en la comunidad, con los que dar solución a las necesidades del
          paciente.</p>
        <p class="lead">Así mismo, este servicio se complementa con una agenda de paciente, utilizada para recordarle al
          mismo la realización de una tarea en un momento determinado, de forma esporádica o con cierta
          periodicidad.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             src="../../../assets/home-teleasistencia.png" title="Teleasistencia" alt="Teleasistencia" width="500"
             height="500"/>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Colaboradores. <span class="text-muted">El equipo de trabajo detrás de la aplicación de telesistencia.</span>
        </h2>
        <p class="lead">El software ha sido desarrollado bajo la licencia <abbr
          title="GNU General Public License, versión 3">GPL3</abbr> por el departamento de Informática del
          IES <em>“Valle del Jerte”</em> de Plasencia, con la colaboración principal de Fréderic Sánchez, Angel Enrique
          Pineda y
          Jesús Redondo.</p>
        <p class="lead">Los alumnos que han contribuido en el desarrollo de este proyecto y la labor que han realizado
          son:</p>
        <ul class="lead">
          <li>Lucía González Martín: Propuesta alumno <abbr title="Proyecto de Fin de Ciclo">PFC</abbr> (Cliente <em>Angular</em>).
          </li>
          <li>Javier Fernández Martín: Propuesta alumno <abbr title="Proyecto de Fin de Ciclo">PFC</abbr> (<em>API
            Rest</em> + <em>Postman</em>).
          </li>
        </ul>
        <p class="lead">Especial mención al departamento de Atención Sociosanitaria del IES <em>“San
          Martín”</em> de Talayuela. Partícipes e impulsores de la plataforma de prácticas de teleasistencia.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             src="../../../assets/home-colaboradores.png" title="Colaboradores" alt="Colaboradores" width="500"
             height="500"/>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</main>
