<div class="container">
  <h1>Modificar datos tipo alarma {{idTipoAlarma}}</h1>
  <form #modificarTipoAlarmaForm="ngForm">

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control"
             required maxlength="200" [(ngModel)]="tipo_alarma.nombre" #nombre="ngModel">
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert">
        <div *ngIf="nombre.errors?.required">
          El nombre es obligatorio
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="codigo">Código</label>
      <input type="text" name="codigo" id="codigo" class="form-control" maxlength="200"
             pattern="[A-Z & 0-9]+$" [(ngModel)]="tipo_alarma.codigo" #codigo="ngModel">
    </div>
    <div *ngIf="codigo.dirty || codigo.touched" class="alert">
      <div *ngIf="codigo.invalid">
        Introduzca un código válido
      </div>
    </div>

    <div>
      <span>Es dispositivo &nbsp;</span>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="es_dispositivo_true"
               name="es_dispositivo_true" [value]="true" [(ngModel)]="tipo_alarma.es_dispositivo">
        <label class="form-check-label" for="es_dispositivo_true">Sí</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="es_dispositivo_false"
               name="es_dispositivo_false" [value]="false" [(ngModel)]="tipo_alarma.es_dispositivo">
        <label class="form-check-label" for="es_dispositivo_false">No</label>
      </div>
    </div>

    <div class="form-group">
      <label for="clasificacion_alarma" class="form-label">Id clasificación alarma</label>
      <select class="form-select" id="clasificacion_alarma" name="clasificacion_alarma"
              [(ngModel)]="tipo_alarma.id_clasificacion_alarma">
        <option class="clasificacion_alarma_option"
                *ngFor="let clasificacion_alarma of clasificaciones_alarmas"
                [value]="clasificacion_alarma.id">{{ clasificacion_alarma.nombre }} {{ clasificacion_alarma.codigo }}</option>
      </select>
    </div>

    <button type="submit" class="btn" (click)="modificarTipoAlarma()"
            [disabled]="!modificarTipoAlarmaForm.form.valid">
      Guardar
    </button>
    <button type="button" class="btn" [routerLink]="['/tipos_alarmas']">Volver</button>

  </form>
</div>
