<td>{{ persona.nombre }}</td>
<td>{{ persona.apellidos }}</td>
<td>{{ persona.dni }}</td>
<td>{{ persona.fecha_nacimiento | date: 'dd/MM/yyyy' }}</td>
<td>{{ persona.sexo }}</td>
<td>{{ persona.telefono_fijo }}</td>
<td>{{ persona.telefono_movil }}</td>
<td>{{ persona.id_direccion.direccion }} {{ persona.id_direccion.localidad }}
  ({{ persona.id_direccion.provincia }}) - {{ persona.id_direccion.codigo_postal }}</td>
<td>
  <button type="submit" class="btn btn-outline-secondary btn-modify" [routerLink]="['/personas/modificar', persona.id]">
    <i class="fa fa-pen"></i>
  </button>
  <!-- Button trigger modal -->
  <button type="submit" class="btn btn-delete m-1" (click)="modalConfirmacion()"
  ><i class="fa fa-trash"></i></button>

</td>

