<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Personas</li>
      </ol>
    </nav>
    <h1 class="component-title">Personas</h1>
    <div class="form-group mb-3">
      <input id="campoBusqueda" type="text" class="form-control" placeholder="Busqueda..." [(ngModel)]="inputBusqueda">
    </div>
    <div class="table-responsive m-2">
      <table id="tableList" class="table table-hover text-center">
        <thead>
        <tr class="table-purple">
          <th (click)="ordenacionTabla(0, 'string')" scope="col">Nombre <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(1, 'string')" scope="col">Apellidos <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(2, 'number')" scope="col">Dni <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(3, 'number')" scope="col">Fecha de nacimiento</th>
          <th (click)="ordenacionTabla(4, 'string')" scope="col">Sexo <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(5, 'number')" scope="col">Teléfono fijo <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(6, 'number')" scope="col">Teléfono móvil <i class="fas fa-sort"></i></th>
          <th (click)="ordenacionTabla(7, 'string')" scope="col">Direccion <i class="fas fa-sort"></i></th>

          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let persona of personas | filtroBusqueda: inputBusqueda | paginate: { itemsPerPage: 10, currentPage: numPaginacion }"
            app-item-persona [persona]="persona">
        </tr>
        </tbody>
      </table>
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        responsive="true"
        (pageChange)="numPaginacion = $event"></pagination-controls>
    </div>
  </div>
</main>
