<main class="text-center row p-0 m-0 justify-content-center">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/direcciones']">Direcciones</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear dirección</li>
    </ol>
  </nav>
  <h1 class="component-title">Crear nueva dirección</h1>
  <form #nuevaDireccionForm="ngForm">

    <div class="form-group mb-3">
      <label for="localidad" class="form-label">Localidad</label>
      <input type="text" name="localidad" id="localidad" class="form-control"
             required maxlength="200" [(ngModel)]="dire.localidad" #localidad="ngModel">
      <div *ngIf="localidad.invalid && (localidad.dirty || localidad.touched)" class="alert alert-secondary"
           role="alert">
        <div *ngIf="localidad.errors?.required">
          La localidad es obligatoria
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="provincia" class="form-label">Provincia</label>
      <input type="text" name="provincia" id="provincia" class="form-control"
             required maxlength="200" [(ngModel)]="dire.provincia" #provincia="ngModel">
      <div *ngIf="provincia.invalid && (provincia.dirty || provincia.touched)" class="alert alert-secondary"
           role="alert">
        <div *ngIf="provincia.errors?.required">
          La provincia es obligatoria
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="direccion" class="form-label">Dirección</label>
      <input type="text" name="direccion" id="direccion" class="form-control"
             required maxlength="200" [(ngModel)]="dire.direccion" #direccion="ngModel">
      <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-secondary"
           role="alert">
        <div *ngIf="direccion.errors?.required">
          La dirección es obligatoria
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="codigo_postal" class="form-label">Código postal</label>
      <input type="text" name="codigo_postal" id="codigo_postal" class="form-control"
             required minlength="5" maxlength="5" pattern="[0-9]+$" [(ngModel)]="dire.codigo_postal"
             #codigo_postal="ngModel">
      <div *ngIf="codigo_postal.invalid && (codigo_postal.dirty || codigo_postal.touched)" class="alert alert-secondary"
           role="alert">
        <div *ngIf="codigo_postal.errors?.required; else elseBlock">
          El código postal es obligatorio
        </div>
        <ng-template #elseBlock>
          El código postal debe tener 5 caracteres numéricos
        </ng-template>
      </div>
    </div>

    <button type="submit" class="btn btn-outline-success m-1" (click)="nuevaDireccion()"
            [disabled]="!nuevaDireccionForm.form.valid">
      Guardar
    </button>
    <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/direcciones']">
      Volver
    </button>

  </form>
</div>
</main>
