<td>{{ centro_sanitario.nombre }}</td>
<td>{{ centro_sanitario.telefono }}</td>
<td>{{ centro_sanitario.id_tipos_centro_sanitario.nombre }}</td>
<td>{{ centro_sanitario.id_direccion.direccion }} {{ centro_sanitario.id_direccion.localidad }}
  ({{ centro_sanitario.id_direccion.provincia }}) - {{ centro_sanitario.id_direccion.codigo_postal }}</td>
<td>
  <button type="submit" class="btn btn-outline-secondary btn-modify"
          [routerLink]="['/centros_sanitarios/modificar', centro_sanitario.id]">
    <i class="fa fa-pen"></i>
  </button>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#exampleModal" >
    <i class="fa fa-trash"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Centro Sanitario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Está seguro de que desea elminar este centro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-delete">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

</td>

