<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/viviendas']">Vivienda</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear vivienda</li>
      </ol>
    </nav>
    <h1 class="component-title">Crear nuevo tipo de vivienda</h1>
    <form #nuevaViviendaForm="ngForm">

      <div class="form-group mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control"
               required maxlength="200" pattern="^[\w'\-,.][^0-9_!¡?÷?¿(\)\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$"
               [(ngModel)]="vivienda.nombre"
               #nombre="ngModel">
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-secondary" role="alert">
          <div *ngIf="nombre.errors?.required; else elseBlock">
            El nombre es obligatorio
          </div>
          <ng-template #elseBlock>
            Introduzca un nombre válido
          </ng-template>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success m-1" (click)="nuevaVivienda()"
              [disabled]="!nuevaViviendaForm.form.valid">
        Guardar
      </button>
      <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/viviendas']">
        Volver
      </button>

    </form>
  </div>
</main>
