<div class="container-fluid">
  <h1 class="component-title">Centros sanitarios</h1>
  <table class="table table-hover text-center">
    <thead>
    <tr class="table-purple">
      <th scope="col">Nombre</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Tipo de centro sanitario</th>
      <th scope="col">Dirección</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let centro_sanitario of centros_sanitarios"
        app-item-centro-sanitario [centro_sanitario]="centro_sanitario">
    </tr>
    </tbody>
  </table>
</div>
