<main class="text-center row p-0 m-0 justify-content-center">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/tipos_centros_sanitarios']">Tipos de centros sanitarios</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear tipo de centro sanitario</li>
    </ol>
  </nav>
  <h1 class="component-title">Crear nuevo tipo centro sanitario</h1>
  <form #nuevoTipoCentroSanitarioForm="ngForm">

    <div class="form-group mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control"
             required maxlength="200" [(ngModel)]="tipo_centro_sanitario.nombre" #nombre="ngModel">
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-secondary" role="alert">
        <div *ngIf="nombre.errors?.required">
          El nombre es obligatorio
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-outline-success m-1" (click)="nuevoTipoCentroSanitario()"
            [disabled]="!nuevoTipoCentroSanitarioForm.form.valid">
      Guardar
    </button>
    <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/tipos_centros_sanitarios']">
      Volver
    </button>

  </form>
</div>
</main>
