<div class="container">
  <h1>Crear nuevo tipo modalidad paciente</h1>
  <form #nuevoTipoModalidadPacienteForm="ngForm">

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control"
             required maxlength="200" [(ngModel)]="tipo_modalidad_paciente.nombre" #nombre="ngModel">
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert">
        <div *ngIf="nombre.errors?.required">
          El nombre es obligatorio
        </div>
      </div>
    </div>

    <button type="submit" class="btn" (click)="nuevoTipoModalidadPaciente()"
            [disabled]="!nuevoTipoModalidadPacienteForm.form.valid">
      Crear
    </button>
    <button type="submit" class="btn" [routerLink]="['/tipos_modalidades_pacientes']">Volver</button>

  </form>
</div>

