<button *ngIf="!estaLogin" type="button" class="btn btn-outline-secondary me-2" [routerLink]="['/login']">Login</button>


<div *ngIf="estaLogin" class="dropdown text-end">
  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
    <p class="user">Lucía González Martín</p>
    <img src="../../../../assets/user.png" alt="mdo" width="40" height="40" class="rounded-circle">
  </a>
  <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
    <li><a class="dropdown-item" (click)="hacerLogout()">Logout</a></li>
  </ul>
</div>


