@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css";

body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.cabecera {
  background: linear-gradient(0deg, rgba(248, 228, 221, 0.5) 0%, rgba(117, 89, 125, 0.5) 100%);
  padding: 1rem;

  .titulo-cabecera {
    margin-left: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #75597D;
    vertical-align: middle;

    .nombre-servicio {
      font-size: 25px;
      font-weight: normal;
    }
  }

  .login {
    float: right;
    margin-top: 15px;
  }
}

.navbar-light {
  background: linear-gradient(180deg, rgba(227, 227, 227, 0.5) 0%, rgba(102, 99, 102, 0.4) 100%);

  .dropdown-toggle {
    color: #6C757D !important;
  }
}

.navbar-light .navbar-toggler {
  color: rgb(126 89 126 / 55%);
  margin-left: 20px;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #1e2125;
  background-color: rgb(126 89 126 / 55%);
}

.dropdown-item.active, .dropdown-item:active {
  color: white;
  background-color: #75597D;
}

.component-title {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 15px;
}

.breadcrumb {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8px;

  a {
    color: #f8c6e6;
  }
}

table {
  thead > .table-purple {
    background-color: #75597D;
    color: white;
  }

  td > .btn-modify {
    float: right;
  }
}

.form-group {
  width: 500px;
  margin: auto;

  .ng-valid[required], .ng-valid.required, .ng-valid {
    border-left: 5px solid #198754;
  }

  .ng-invalid:not(form) {
    border-left: 5px solid #a94442;
  }

  .form-label {
    float: left;
  }

  .alert {
    padding: 5px;
    margin-top: 20px;
  }
}

.form-group-check {
  position: relative;
  left: -142px;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

.form-check-input:focus {
  border-color: #198754;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

footer {

  img {
    filter: grayscale(100%) brightness(85%);
  }

  i {
    font-size: 28px;
  }
}

@media (min-width: 200px) {
  .cabecera {
    height: 148px;

    .contenedor-cabecera {
      margin: auto;
      width: fit-content;
    }

    .d-inline-block {
      transform: scale(0.5);
      position: initial;
    }

    .titulo-cabecera {
      margin-left: -15px;
      font-size: 25px;
      position: initial;

      .nombre-servicio {
        font-size: 15px;
      }
    }

    .login {
      float: right;
      margin-top: 25px;
      position: absolute;
      top: 8%;
      left: 42%;
    }
  }

  .navbar-nav {
    margin-left: 20px;
  }

  .dropdown-menu {
    margin-right: 20px;
    font-size: 15px;
  }

  .dropdown-menu[data-bs-popper] {
    left: 0;
  }

  .form-group {
    width: 250px;
  }

  .form-group-check {
    position: relative;
    left: -16px;
  }

  footer > div {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  .text-muted {
    text-align: center;
  }

  .list-unstyled {
    margin: auto;
    padding-top: 12px;
    padding-right: 6%;
  }
}

@media (min-width: 576px) {
  .cabecera {
    height: initial;

    .contenedor-cabecera {
      margin: 0;
      width: initial;
    }

    .d-inline-block {
      transform: scale(0.7);
      position: initial;
    }

    .titulo-cabecera {
      margin-left: -10px;
      font-size: 30px;
      position: initial;

      .nombre-servicio {
        font-size: 18px;
      }
    }

    .login {
      float: right;
      margin-top: 15px;
      position: initial;
    }
  }

  .navbar-nav {
    margin-left: 20px;
  }

  .dropdown-menu {
    margin-right: 20px;
    font-size: 15px;
  }

  .dropdown-menu[data-bs-popper] {
    left: 0;
  }

  .form-group {
    width: 350px;
  }

  .form-group-check {
    position: relative;
    left: -68px;
  }

  footer > div {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  .text-muted {
    text-align: center;
  }

  .list-unstyled {
    margin: auto;
    padding-top: 12px;
  }
}

@media (min-width: 768px) {
  .cabecera {
    height: initial;

    .contenedor-cabecera {
      margin: 0;
      width: initial;
    }

    .d-inline-block {
      transform: scale(0.9);
      position: initial;
    }

    .titulo-cabecera {
      margin-left: 5px;
      font-size: 40px;
      position: initial;

      .nombre-servicio {
        font-size: 25px;
      }
    }

    .login {
      float: right;
      margin-top: 15px;
      position: initial;
    }
  }

  .navbar-nav {
    margin-left: 20px;
  }

  .dropdown-menu {
    margin-right: 20px;
    font-size: 15px;
  }

  .dropdown-menu[data-bs-popper] {
    left: 0;
  }

  .form-group {
    width: 400px;
  }

  .form-group-check {
    position: relative;
    left: -93px;
  }

  footer > div {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: initial !important;
  }

  .text-muted {
    text-align: initial;
  }
}

@media (min-width: 992px) {
  .cabecera {
    height: initial;

    .contenedor-cabecera {
      margin: 0;
      width: initial;
    }

    .d-inline-block {
      transform: none;
      position: initial;
    }

    .titulo-cabecera {
      margin-left: 15px;
      font-size: 40px;
      position: initial;

      .nombre-servicio {
        font-size: 25px;
      }
    }

    .login {
      float: right;
      margin-top: 15px;
      position: initial;
    }
  }

  .navbar-nav {
    margin-left: 0;
  }

  .dropdown-menu {
    margin-right: 0;
    font-size: 12px;
  }

  .dropdown-menu[data-bs-popper] {
    left: -35px;
  }

  .form-group {
    width: 500px;
  }

  .form-group-check {
    position: relative;
    left: -142px;
  }

  footer > div {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: initial !important;
  }

  .text-muted {
    text-align: initial;
  }
}

@media (min-width: 1200px) {
  .cabecera {
    height: initial;

    .contenedor-cabecera {
      margin: 0;
      width: initial;
    }

    .d-inline-block {
      transform: none;
      position: initial;
    }

    .titulo-cabecera {
      margin-left: 15px;
      font-size: 40px;
      position: initial;

      .nombre-servicio {
        font-size: 25px;
      }
    }

    .login {
      float: right;
      margin-top: 15px;
      position: initial;
    }
  }

  .navbar-nav {
    margin-left: 0;
  }

  .dropdown-menu {
    margin-right: 0;
    font-size: initial;
  }

  .dropdown-menu[data-bs-popper] {
    left: 0;
  }

  .form-group {
    width: 500px;
  }

  .form-group-check {
    position: relative;
    left: -142px;
  }

  footer > div {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: initial !important;
  }

  .text-muted {
    text-align: initial;
  }
}

