<main class="text-center row p-0 m-0 justify-content-center">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tipos de alarmas</li>
      </ol>
    </nav>
    <h1 class="component-title">Tipos de alarmas</h1>
    <div class="table-responsive m-2">
      <table id="tableList" class="table table-hover text-center sortable">
        <thead>
        <tr class="table-purple">
          <th (click)="filtroTabla(0, 'string')" scope="col">Nombre</th>
          <th (click)="filtroTabla(1, 'number')" scope="col">Código</th>
          <th (click)="filtroTabla(2, 'string')" scope="col">Dispositivo</th>
          <th (click)="filtroTabla(3, 'string')" scope="col">Clasificación alarma</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tipo_alarma of tipos_alarmas | paginate: { itemsPerPage: 10, currentPage: numPaginacion }"
            app-item-tipo-alarma [tipo_alarma]="tipo_alarma">
        </tr>
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          responsive="true"
          (pageChange)="numPaginacion = $event"></pagination-controls>
        </tbody>
      </table>
    </div>
  </div>
</main>
